rules:
 - RULE-SET,LocalAreaNetwork,DIRECT
 - RULE-SET,Proxy,Proxies
 - RULE-SET,Direct,DIRECT
 - RULE-SET,Reject,REJECT
 - RULE-SET,BanAD,REJECT
 - RULE-SET,BanProgramAD,REJECT
 - RULE-SET,TikTok,Proxies
 - RULE-SET,Netflix,Netflix
 - RULE-SET,YouTube,YouTube
 - RULE-SET,Google,Proxies
 - RULE-SET,OpenAI,OpenAI
 - RULE-SET,Telegram,Telegram
 - RULE-SET,Microsoft,Proxies
 - RULE-SET,Apple,Apple
 - RULE-SET,Global,Proxies
 - RULE-SET,ChinaMax,DIRECT

rule-providers:
  LocalAreaNetwork:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/LocalAreaNetwork.yaml"
    interval: 3600
    path: ./LocalAreaNetwork.yaml

  Proxy:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/xiaozhaji/Clash/master/Ruleset/Proxy.yaml"
    interval: 3600
    path: ./Proxy.yaml

  Direct:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/xiaozhaji/Clash/master/Ruleset/Direct.yaml"
    interval: 3600
    path: ./Direct.yaml

  Reject:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/xiaozhaji/Clash/master/Ruleset/Reject.yaml"
    interval: 3600
    path: ./Reject.yaml

  BanAD:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/BanAD.yaml"
    interval: 3600
    path: ./BanAD.yaml

  BanProgramAD:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/BanProgramAD.yaml"
    interval: 3600
    path: ./BanProgramAD.yaml

  TikTok:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/TikTok/TikTok.yaml"
    interval: 3600
    path: ./TikTok.yaml

  Netflix:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Netflix/Netflix_Classical.yaml"
    interval: 3600
    path: ./Netflix.yaml

  YouTube:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/YouTube/YouTube.yaml"
    interval: 3600
    path: ./YouTube.yaml

  Google:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Google/Google.yaml"
    interval: 3600
    path: ./Google.yaml

  OpenAI:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/OpenAI/OpenAI.yaml"
    interval: 3600
    path: ./OpenAI.yaml

  Telegram:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Telegram/Telegram.yaml"
    interval: 3600
    path: ./Telegram.yaml

  Microsoft:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Microsoft/Microsoft.yaml"
    interval: 3600
    path: ./Microsoft.yaml

  Apple:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Apple/Apple_Classical.yaml"
    interval: 3600
    path: ./Apple.yaml

  Global:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Global/Global_Classical.yaml"
    interval: 3600
    path: ./Global.yaml

  ChinaMax:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/ChinaMax/ChinaMax_Classical.yaml"
    interval: 3600
    path: ./ChinaMax.yaml
