rules:
 - RULE-SET,LocalAreaNetwork,DIRECT
 - RULE-SET,BanAD
 - RULE-SET,BanProgramAD
 - RULE-SET,Reject
 - RULE-SET,Direct
 - RULE-SET,Proxy
 - RULE-SET,TikTok
 - RULE-SET,Netflix
 - RULE-SET,YouTube
 - RULE-SET,Google
 - RULE-SET,OpenAI
 - RULE-SET,Telegram
 - RULE-SET,Microsoft
 - RULE-SET,Apple
 - RULE-SET,Global
 - RULE-SET,ChinaMax

rule-providers:
  LocalAreaNetwork:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/LocalAreaNetwork.yaml"
    interval: 3600
    path: ./LocalAreaNetwork.yaml
rule-providers:
  BanAD:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/BanAD.yaml"
    interval: 3600
    path: ./BanAD.yaml
rule-providers:
  BanProgramAD:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/BanProgramAD.yaml"
    interval: 3600
    path: ./BanProgramAD.yaml
rule-providers:
  Reject:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/xiaozhaji/Clash/master/Ruleset/Reject.yaml"
    interval: 3600
    path: ./Reject.yaml
rule-providers:
  Direct:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/xiaozhaji/Clash/master/Ruleset/Direct.yaml"
    interval: 3600
    path: ./Direct.yaml
rule-providers:
  Proxy:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/xiaozhaji/Clash/master/Ruleset/Proxy.yaml"
    interval: 3600
    path: ./Proxy.yaml
rule-providers:
  TikTok:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/BanProgramAD.yaml"
    interval: 3600
    path: ./TikTok.yaml
rule-providers:
  Netflix:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/BanProgramAD.yaml"
    interval: 3600
    path: ./Netflix.yaml
rule-providers:
  YouTube:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/BanProgramAD.yaml"
    interval: 3600
    path: ./YouTube.yaml
rule-providers:
  Google:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/BanProgramAD.yaml"
    interval: 3600
    path: ./Google.yaml
rule-providers:
  OpenAI:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/BanProgramAD.yaml"
    interval: 3600
    path: ./OpenAI.yaml
rule-providers:
  Telegram:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/BanProgramAD.yaml"
    interval: 3600
    path: ./Telegram.yaml
rule-providers:
  Microsoft:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/BanProgramAD.yaml"
    interval: 3600
    path: ./Microsoft.yaml
rule-providers:
  Apple:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/BanProgramAD.yaml"
    interval: 3600
    path: ./Apple.yaml
rule-providers:
  Global:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/BanProgramAD.yaml"
    interval: 3600
    path: ./Global.yaml
rule-providers:
  ChinaMax:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/BanProgramAD.yaml"
    interval: 3600
    path: ./ChinaMax.yaml
