rules:
 - RULE-SET,LocalAreaNetwork,DIRECT
 - RULE-SET,Reject,REJECT
 - RULE-SET,Proxy,Proxies
 - RULE-SET,Direct,DIRECT
 - RULE-SET,Microsoft,Proxies
 - RULE-SET,Media,Proxies
 - RULE-SET,Global,Proxies
 - GEOIP,CN,DIRECT
 - GEOIP,AE,Proxies
 - GEOIP,AU,Proxies
 - GEOIP,BR,Proxies
 - GEOIP,CA,Proxies
 - GEOIP,DE,Proxies
 - GEOIP,DK,Proxies
 - GEOIP,ES,Proxies
 - GEOIP,FI,Proxies
 - GEOIP,FR,Proxies
 - GEOIP,GB,Proxies
 - GEOIP,GR,Proxies
 - GEOIP,HK,Proxies
 - GEOIP,ID,Proxies
 - GEOIP,IL,Proxies
 - GEOIP,IN,Proxies
 - GEOIP,IQ,Proxies
 - GEOIP,IR,Proxies
 - GEOIP,IT,Proxies
 - GEOIP,JP,Proxies
 - GEOIP,KR,Proxies
 - GEOIP,MO,Proxies
 - GEOIP,MY,Proxies
 - GEOIP,NL,Proxies
 - GEOIP,NO,Proxies
 - GEOIP,NZ,Proxies
 - GEOIP,PH,Proxies
 - GEOIP,RU,Proxies
 - GEOIP,SA,Proxies
 - GEOIP,SG,Proxies
 - GEOIP,TH,Proxies
 - GEOIP,TR,Proxies
 - GEOIP,TW,Proxies
 - GEOIP,US,Proxies
 - GEOIP,VN,Proxies
 - GEOIP,CLOUDFLARE,Proxies
 - GEOIP,CLOUDFRONT,Proxies
 - GEOIP,FACEBOOK,Proxies
 - GEOIP,FASTLY,Proxies
 - GEOIP,GOOGLE,Proxies
 - GEOIP,NETFLIX,Proxies
 - GEOIP,TELEGRAM,Proxies
 - GEOIP,TWITTER,Proxies
 - MATCH,DIRECT

rule-providers:
  LocalAreaNetwork:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/LocalAreaNetwork.yaml"
    interval: 3600
    path: ./LocalAreaNetwork.yaml

  Reject:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/xiaozhaji/Clash/master/Ruleset/Reject.yaml"
    interval: 3600
    path: ./Reject.yaml

  Proxy:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/xiaozhaji/Clash/master/Ruleset/Proxy.yaml"
    interval: 3600
    path: ./Proxy.yaml

  Direct:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/xiaozhaji/Clash/master/Ruleset/Direct.yaml"
    interval: 3600
    path: ./Direct.yaml

  Microsoft:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/Ruleset/Microsoft.yaml"
    interval: 3600
    path: ./Microsoft.yaml

  Media:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/ProxyMedia.yaml"
    interval: 3600
    path: ./Media.yaml

  Global:
    behavior: "classical"
    type: http
    url: "https://ghproxy.com/https://raw.githubusercontent.com/ACL4SSR/ACL4SSR/master/Clash/Providers/ProxyGFWlist.yaml"
    interval: 3600
    path: ./Global.yaml
